-i https://pypi.python.org/simple
django-debug-toolbar==1.11.1
sqlparse==0.2.4
werkzeug==0.15.3
django-authtools==1.6.0
django-braces==1.13.0
django-crispy-forms==1.7.2
django-extensions
django-environ==0.4.5
django==2.2.27
easy-thumbnails==2.5
pillow>=8.3.0
psycopg2-binary
pytz==2018.7
numpy
pytesseract
pdf2image
PyPDF2
pandas
